@import url("https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon+SC&family=Laila:wght@300&display=swap");

h1 {
  font-family: "IM Fell French Canon SC", serif;
  font-size: 60px;
  margin-left: 5%;
  color: #f2f2f2;
}
.App {
  font-family: "Laila", sans-serif;
  font-size: 14px;
  max-width: 700px;
  margin: 0 auto;
  color: #f2f2f2;
}
.App footer {
  text-align: center;
  font-size: 10px;
  color: #f2f2f2;
}
.App a {
  text-decoration: none;
  color: #5b72aa;
}
.App ul {
  list-style-type: none;
}
.current-forecast-icons {
  max-width: 25px;
}
