@import url("https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon+SC&family=Laila:wght@300&display=swap");

body {
  background: linear-gradient(
    112.1deg,
    rgb(32, 38, 57) 11.4%,
    rgb(63, 76, 119) 70.2%
  );
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
}
